@import '../scss/mixins';
@import '../scss/variables';

.nav__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    box-shadow: 2px 2px 4px #000;
}

.section {
    padding: 0.4em 1em;
    margin: 0;
    border-radius: 0.5em;
    align-self: center;
    font-weight: 400;
    cursor: pointer;
}

.section:hover {
    background-color: $background-light;
    transition: all ease-in-out 0.3s;
    &.dark {
        background-color: $background-dark;
    }
}

.dark {
    color: $text-dark;
    background-color: $background-dark;
}

.button {
    @include btnPrimary;
}