@import './scss/mixins';

.container {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 36px;
}

.dark {
    color: #eee;
    background-color: #000;
}

.light {
    color: #000;
    background-color: #eee;
}

.button {
    @include btnPrimary;
}