@import './scss/mixins';
@import './scss/variables';

.container {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 36px;
}

.dark {
    color: #eee;
    background-color: $background-dark-app;
}

.light {
    color: $text-light;
    background-color: $background-light;
}

.button {
    @include btnPrimary;
}